@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@600;700&family=Roboto:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #444444;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #555555;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

h5 {
  color: #555555;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: calc(100vw - 60px);
  max-width: 1320px;
  margin: auto;
}

.header-top {
  background: #106eea;
  color: white;
  padding-block: 10px;
}

.header-top .container {
  position: relative;
}

.header-top a {
  color: white;
  font-size: 14px;
}

.header-top a i {
  opacity: 0.7;
  font-size: 16px;
}

header {
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 999;
}

header .header-main {
  padding: 25px 0;
}

header .header-main .logo h1 {
  font-size: 30px;
  font-weight: 600;
  color: #222222;
}

header .header-main .logo h1 span {
  color: #106eea;
}

header .header-main ul {
  gap: 28px;
}

header .header-main ul li:hover > a:before {
  visibility: visible;
  width: 100%;
}

header .header-main ul li a {
  font-weight: 600;
  color: #222222;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

header .header-main ul li a:before {
  content: "";
  width: 0%;
  position: absolute;
  height: 2px;
  background: #106eea;
  left: 0;
  bottom: -6px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
}

header .header-main ul li a:hover {
  color: #106eea;
}

section.hero {
  height: 75vh;
  background-image: url(../img/hero-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

section.hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

section.hero .hero-inner {
  position: relative;
}

section.hero .hero-inner h1 span {
  color: #106eea;
}

section.hero .hero-inner h2 {
  margin: 5px 0 30px 0;
}

section.hero .hero-inner a:not(.btn) {
  font-weight: 600;
  font-size: 16px;
}

section.hero .hero-inner a:not(.btn) i {
  font-size: 30px;
  margin-right: 5px;
  color: #106eea;
}

section.cards {
  padding-block: 60px;
}

section.cards .container {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

section.cards .container .card {
  gap: 15px;
  padding: 30px;
  -webkit-box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
          box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

section.cards .container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #106eea;
  z-index: -1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

section.cards .container .card.active {
  color: white;
}

section.cards .container .card.active i {
  color: white;
  -webkit-transition-delay: 225ms;
          transition-delay: 225ms;
}

section.cards .container .card.active::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section.cards .container .card i {
  color: #106eea;
  font-size: 3em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

section.cards .container .card p {
  line-height: 24px;
}

@media screen and (min-width: 900px) {
  section.cards .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  section.cards .container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

section.about {
  background: #f6f9fe;
  padding-block: 60px;
}

section.about .about-header {
  text-align: center;
}

section.about .about-header .not-a-button {
  color: #106eea;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

section.about .about-header h3 span {
  color: #106eea;
}

section.about .about-header p:not(.not-a-button) {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  width: 50%;
  color: #444444;
}

section.about .about-main {
  gap: 24px;
}

section.about .about-main div {
  width: 100%;
}

section.about .about-main div.about-image-wrapper img {
  width: 100%;
  height: auto;
}

section.about .about-main div.about-copy-wrapper h3 {
  font-size: 26px;
  font-weight: 600;
  line-height: 31px;
}

section.about .about-main div.about-copy-wrapper p:not(.about-li) {
  font-size: 16px;
}

section.about .about-main div.about-copy-wrapper ul {
  list-style: none;
  margin-block: 1em;
}

section.about .about-main div.about-copy-wrapper ul div {
  width: 100%;
}

section.about .about-main div.about-copy-wrapper ul li {
  margin-block: 35px;
}

section.about .about-main div.about-copy-wrapper ul li i {
  color: #106eea;
  background: white;
  -webkit-box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
          box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 18px;
  padding: 20px;
  border-radius: 50%;
}

@media screen and (min-width: 1180px) {
  section.about .about-main.flex.wrap.flex-jc-center.flex-ai-center.flex-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.about .about-main.flex.wrap.flex-jc-center.flex-ai-center.flex-col .about-col {
    width: 48%;
  }
}

section.skills {
  padding-block: 60px;
}

section.skills .skill {
  width: 48%;
}

section.skills .skill .labels .label {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #222222;
  font-weight: 600;
  line-height: 18px;
}

section.skills .skill .bar {
  height: 10px;
  background: #e2eefd;
  position: relative;
}

section.skills .skill .bar.html::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #106eea;
  width: 100%;
}

section.skills .skill .bar.javascript::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #106eea;
  width: 75%;
}

section.skills .skill .bar.cms::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #106eea;
  width: 90%;
}

section.skills .skill .bar.css::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #106eea;
  width: 90%;
}

section.skills .skill .bar.php::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #106eea;
  width: 80%;
}

section.skills .skill .bar.photoshop::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #106eea;
  width: 55%;
}

section.meta {
  padding-block: 60px;
}

section.meta .container .meta-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #f1f6fe;
  position: relative;
}

section.meta .container .meta-box .icon {
  position: absolute;
  background: #106eea;
  height: 50px;
  width: 50px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 0;
}

section.meta .container .meta-box .icon::before {
  font-weight: 400;
  font-family: "Font Awesome 5 Free";
  color: white;
  font-size: 22px;
}

section.meta .container .meta-box .icon.smile::before {
  content: "\f118";
}

section.meta .container .meta-box .icon.book::before {
  content: "\f2b9";
}

section.meta .container .meta-box .icon.headset::before {
  content: "\f590";
  font-weight: 600;
}

section.meta .container .meta-box .icon.people::before {
  content: "\f500";
  font-weight: 600;
}

section.meta .container .meta-box .meta-content {
  padding: 30px 30px 25px 30px;
}

section.meta .container .meta-box .meta-content span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #062b5b;
}
/*# sourceMappingURL=style.css.map */