$primary-color: #106eea;

.flex { 
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-jc-sb {
    justify-content: space-between;
}
.flex-jc-sa {
    justify-content: space-around;
}
.flex-jc-center {
    justify-content: center;
}
.flex-ai-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}
.grid {
    display: grid;
}
.gap-1 {
    gap: 1em;
}
.gap-2 {
    gap: 2em;
}

.ml-1 {
    margin-left: 1em;
}
.ml-2 {
    margin-left: 2em;
}


//** TEXT **//
.italic {
    font-style: italic;
}

//** BUTTONS **//
.btn {
    padding: 10px 28px;
    text-transform: uppercase;
    border-radius: 4px;
}
.btn-primary {
    background: $primary-color;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 500;
}
